@font-face {
    font-family: 'tangerineregular';
    src: url('/src/fonts/tangerine-webfont.woff2') format('woff2'),
        url('/src/fonts/tangerine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    .landing-page-container {
    height: 700px;
    background-color: #8ea66a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .good-karma-landing-title {
    margin-top: 50px;
    font-family: tangerineregular;
    font-size: 70px;
    color: white;
    }

    .good-karma-tagline {
    margin-top: 20px;
    color: white;
    font-family: tangerineregular;
    }

    .landing-page-image {
    height: 450px;
    width: 600px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 0.5rem;
    }

    @media only screen and (max-width: 480px) {
    .landing-page-image {
        padding: 0.5rem;
        width:350px;
        height:270px;
    }

    .good-karma-landing-title{
        margin-top: 140px;
    }

    .good-karma-tagline {
        text-align: center;
        font-size: 35px;
        padding: 1rem;
        margin-bottom: 50px;
    }

    .landing-page-container{
        height:auto;
    }
    }
